**/build/
**/build_one/
bin/
lib/
*.o
*.out
*.a
*.so
*.lo
*.la
*.lai
*.diff

*.ptx
*.cubin
*.fatbin
*.compute
compute_scope_*
ncu_report/
nsight-sys-report/

*.swp
*~

3rd/*/build/
3rd/*/bin/
Thumbs.db
desktop.ini

*.log
gmon.out
core

.*
!.gitignore
!.gitmodules
